<%- include("./partials/header.ejs"); %>

<h1>Hall of Heroes</h1>
<a href="/heroes">Go back</a><br>
<a href="/create-hero">Create a new Hero</a><br>
<a href="/squads">View Squads</a>

<div class="heroes-list">
    <% for(let hero of heroes) { %>

        <div class="hero">
            <div class="d-flex jc-sb flex-align">
                <h2>Name: <%= hero.name %></h2>
                <% if(hero.squad) { %>
                    <h4><%= hero.squad %></h4>
                <% } %>
            </div>
            <h3>Origin: <%= hero.origin %></h3>
            <p><%= hero.description %></p>

            <ul>
                <li>S: <%= hero.stats.strength %></li>
                <li>P: <%= hero.stats.perception %></li>
                <li>E: <%= hero.stats.endurance %></li>
                <li>C: <%= hero.stats.charisma %></li>
                <li>I: <%= hero.stats.intelligence %></li>
                <li>A: <%= hero.stats.agility %></li>
                <li>L: <%= hero.stats.luck %></li>
            </ul>
            <%
                let {strength, perception, endurance, charisma, intelligence, agility, luck} = hero.stats;
                let arr = [strength, perception, endurance, charisma, intelligence, agility, luck];
                let overall = arr.reduce((accumulator, current) => accumulator + current, 0);
            %>


            <h3>Overall: <%= overall %></h3>
            <form>
                <input type="submit" class="link" value="Update" formaction="/update-hero/<%= hero.id %>" formmethod="get">
                <input type="submit" class="link" value="Delete" formaction="/delete-hero/<%= hero.id %>" formmethod="post">
            </form>
        </div>

    <% } %>
</div>


<%- include("./partials/footer.ejs"); %>
